Source: libicsc
Section: main
Priority: extra
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Protocols
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libicsc
Architecture: all
Provides: ICSC.h
Description: ICSC library

